* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: #909090;
}

html, body {
    height: 100%;
}

body {
    background-color: #111542;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #131C43;
    padding: 20px;
    text-align: center;
    
    img {
        margin-top: 20px;
        width: 600px;
        
    }
}

header h1 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    font-family: 'Cinzel' serif;
}

header .menu_header {
    margin-left: auto;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-end;
    gap: 5px;

    .jogue {
       
    }
}

header .menu_header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header .menu_header li {
    margin-left: 20px;
    padding: 5px;
}

section img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    .botao {
        font-size: 20px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 7px;
    }

    li {
        margin: 5px;
    }

    img {
        width: 40px;
    }
}

.botao {
    text-align: center;

    a {
        text-decoration: none;
        color: #1a1a1a;
        background-color: #887121;
        padding: 12px 28px;
        border-radius: 6px;
        font-weight: bold;
        
    }

    a:hover{
        background-color: rgb(161, 146, 4);

    }
}

.texto_info {
    width: 90%;
    margin: 20px;
    margin-top: 30px;
    text-align: left;
    color: white;
    font-size: 25px;

    h3 {
        
        margin: 15px;
    }
    p {
        margin: 15px;
        
    }
    ul {
        margin: 30px;
        
    }
}


